@font-face {
    font-family: Ananda;
    src: url(Police/Ananda\ Personal\ Use.ttf);
}

@font-face {
    font-family: Biko;
    src: url(Police/Biko_Regular.otf);
}
@font-face {
    font-family: Biko-Bold;
    src: url(Police/Biko_Bold.otf);
}


@font-face {
    font-family: Monsterrat-Regular;
    src: url(Police/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Monsterrat-Light;
    src: url(Police/Montserrat-Light.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior:smooth;
}


.accueil
{
    background-image:url(Images/Retouchées/tapas-croquettes-nanek.jpg) ;
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
    height: 950px
   
}

.accueil .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 150px;
    z-index: 999;
    transition:  all 0.3s ease;


}
.accueil .navbar .menu-btn
{
    opacity: 0%;
}

.accueil .navbar.sticky
{
    background: black;
    color: white; 
    transition:  all 0.3s ease;
}


.accueil .title{
    margin: auto;
     
 }
.accueil .title img{
    width: 250px;
    height: 100px;
}

.accueil .navbar a{
    color: white;
    
}
.accueil .navbar.sticky a{
    color: white;
    
}

.accueil .navbar li{
    display: inline-block;
    list-style: none;
}
.accueil .navbar li a
{
    font-size:25px;
    font-weight: 800;
    font-family: Biko;
    margin-left: 100px;
    transition: color 0.3s ease ;
}

.accueil .navbar li a:hover{
    color: crimson;
}
.accueil .navbar .menu{
    width: 1000px;
    position: static;
    margin-left: auto;
  
}

/* Infomation section*/
.info{

    flex-wrap: wrap;
    
    justify-content: space-between;
    display: flex;

    color: white;
    max-height: 550px;
    height: 450px;
    background-color: rgb(41, 41, 48);
}

.info .one {
    width: 50%;
    height: initial;
    display: flex;

    background-color: rgb(41, 41, 48);
   
}

.info .one .right
{
    z-index: 1;
}
.info .one img {
    margin-top: 15px;
    position:absolute;
    
    left: 10px;
    width: 400px;
    height: 400px;
    opacity: 0.1;
}

.info .two {
    width: 50%;
    height: initial;
    background-color:black;
   
    display: flex;
}


.info .max-width{
    max-width: 1900px;
 
    margin:  auto;
    display: flex;
  
    width: 800px;
}
.info .max-width h3
{
    font-size: 50px;
    color: white;
    align-items: center;
    font-family:  Biko-Bold ;
    font-weight: 500;
}
.info .max-width .right{
    width: 100%;
    display: inline-block; 
    text-align: center;
    
}

.info .max-width .information  {
    font-family:Monsterrat-Light ;
   margin-top: 20px;
}

.info .max-width .right .information .title  {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

.info .max-width .right .information .content  {
    margin-top: 15px;
    font-size: 15px;
    font-weight: lighter;
}

.info .max-width .left{
    width: 100%;
    display: inline-block;
    text-align: center;
   
}
.info .max-width .left h3
{
    letter-spacing: 2px;
    font-size: 55px;
    padding-bottom: 15px;
}
.info .max-width .left .horaire
{
    width: 500px;
}

.info .max-width .left .week
{   
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monsterrat-Light;
    
    list-style: none;
}
.info .max-width .left .week li
{   
    margin-top: 15px;
    font-size: 20px;
    list-style: none;
    display: flex;
}

.info .max-width .left .week li .day
{
    width: 45%; 
}
.info .max-width .left .week li .hour
{
    width: 45%; 
    text-align: right;
}



footer
{
 
    background: white;
    padding: 20px 23px;
    color: black;
    display: flex;  
    align-items: center;
    max-height: 150px;
    
}

footer .one
{
    width: 33%;
    font-size:60px ;
    font-weight: 800;
    font-family: Ananda;
    margin-left: 70px;
  
}
footer .one img
{
    margin-top: 30px;
    width: 175px;
    height: 75px;
}

footer .two
{
    width: 33%;
    text-align: center;
    font-family: Biko;  
}

footer .two h3{
    font-size: 35px;
    font-weight: 600;
}


footer .three
{
    width: 33%;
    text-align: right;
    margin-right: 80px;
    
}

footer .three .menu{
    margin-top: 0px;
}

footer .three li
{
    list-style: none;
    margin-top: 10px;
}

footer .three a {
    color: black;
    font-family: Biko;
    font-size: 20px;
}

footer .three a:hover {
    color:  crimson;
    font-family: Biko;
    font-size:27px ;
}

/* Contact styling code */


.max-width{
    max-width: 1300px;
    margin-bottom: 10px;
    display: flex;
}
.presentation{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.presentation .right {
    width: 45%;
    margin-left: 230px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 0px;
  
}
.presentation  .left{
    width: 45%;
    display: inline-block;
    /* margin-left: 0px; */
    padding-left: 250px;
}

.presentation .right .title
{
    font-size : 45px;
    font-weight:800px ;
    color: rgb(241, 135, 58);
    padding-bottom: 30px;
}
 
.presentation .left .content{
    
    display: inline-block;
    text-align: justify;
}


.presentation .right .titreContact{
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
    font-family:  Biko ;
   
}
.presentation .left p{
    text-align: justify;
}
.presentation  .left .icon{
    margin: 10px 0;
}

.presentation .right .row
{
    display: flex;
    height: 65px;
    align-items: center;
}
.presentation .right .row .info{
    margin-left: 30px;
}
.presentation .right .row i{
    font-size: 25px;
    color: black;
}

.presentation .right .info .head{
    font-weight: 500;

}
.presentation .right .info .sub-title{
    color: #333;
}


.presentation .right .field,
.presentation .right form .fields .field
{
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
}

.presentation .right form .textarea{
    height: 150px;

}

.presentation .right form .name{
 margin-right: 10px;
 max-height: 45px; 
}
.presentation .right form .email{
    margin-right: 10px;
    max-height: 45px; 
   }

.presentation .right form .field input,
.presentation .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border : 1px solid lightgray;
    border-radius: 6px;
    outline:none;
    padding: 0 15px ;
    font-size: 17px;
    font-family:'Roboto',sans-serif ;
}

.presentation .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.presentation .right form .button{
    height: 47px;
    width: 170px;
    margin-left: 35%;
}

.presentation .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: black;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 6px; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.presentation .right form .button button:hover
{    color:black;
    background: none;
}
.presentation .right .reseau
{   margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    display: flex;
    text-align: center;
}
.presentation .right .reseau a
{
    color: black;
    font-family:Biko ;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.presentation .right .reseau a:hover
{
    color: crimson;
    font-family:Biko ;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 25px;
}


.presentation .right .reseau .one
{ width: 45%;
}
.presentation .right .reseau .two
{   width: 45%;
}

/* footer section styling */
.btn{

    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: auto;
    transition:  all 0.3s ease;
}

.btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
    transition:  all 0.3s ease;
}.btn.end{
    
    bottom: 30px;
    right: 250px;
    opacity: 1;
    pointer-events: auto;
    transition:  all 0.3s ease;
}

#map
{
    height: 500px ;
    width:  900px;
}

@media (max-width : 600px) {


    /* Section Navbar Styling */

    .accueil 
    {
        background-position:center;
        height: 80vh;
    }

    .accueil .title
    {
        padding-left: 50px;
        padding-top: 20px;
    }

    .accueil .title img
    {
        width: 150px ;
        height: 55px;
    }
    .accueil .navbar
    {
        width: 100vw;
    }

    .accueil .navbar .menu
    {
        position: fixed;
        left : -100%; 
        width: 100%; 
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
     
    .accueil .navbar .menu.active
    {
        background-color: rgb(0, 0, 0);
        left: 0%;
        height:100vh;
        width: 100vw;
        top: 0;
        padding-top: 160px;
        position:  fixed;
        z-index: 998;
       
    }

    .accueil .menu li
    {
        display: block;
        text-align: center;
        margin-top: 50px;
     
    }
    .accueil .menu li a
    {
        font-size: 35px;
        margin-left: 0px;
    }



    .accueil .navbar .menu-btn
    {
        position: relative;
        width: 40px;
        height: 40px;
       
        margin-top: 10px;
        margin-right: 45px;
        object-fit: cover;
        opacity: 100%;
    }
    
    .accueil .navbar .menu-btn img
    {
      width: 40px;
      height: 40px;
    }
    
    .accueil .navbar .menu-btn .exit
    {
        opacity: 0;
        z-index: 999;
        
    }
    .accueil .navbar .menu-btn .exit.active
    {
        position: fixed;
        opacity: 100%;
        z-index: 999;
        top:75px;
        margin-left: 0px;
    }
    .accueil .navbar .menu-btn .exit.active img
    {
        width: 50px;
        height: 50px;
    }

 /* Section Présentation styling*/

    .presentation
    {   display: block;
        height: auto;
    }

  .presentation .max-width
  {
      display: block;
   
  }

  .presentation .max-width .column
  {
      width: 100%;

  }

  .presentation .max-width .right
  {
      margin-left: 0px;
      height: 500px;
  }

  .presentation .max-width .right .titreContact
  {
    font-size: 30px;
    margin-top: 25px;
  }

  .presentation .max-width .right .reseau a
  {
        font-size: 22px;
  }

  .presentation .right .field, .presentation .right form .fields .field
  {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  .presentation .right form .button
  {
      margin: auto;
  }

  .presentation .max-width .left
  {
      padding-left: 0px;
  }

  .presentation .max-width .left #map{

    height: 500px;
    width: 340px;
    margin: auto;
  }

/* Section Info Styling */ 
.info
{ 
    height: 1000px;
    max-height: none;
    display: block;
}
.info .one
{
    width: 100%;
    height: 50%;
    display: flex;
}

.info .one img 
{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    left: 75px;
}

.info .max-width
{
    width: 100vw;
    display: block;
    margin :auto;
}

.info .two
{
    width: 100%;
    height: 50%;
}
.info .max-width .left h3
{
    font-size: 50px;
}
.info .max-width .left .week 
{
    margin: auto;
}
.info .max-width .left .week li
{
    font-size: 18px;
    margin-left: 25px
}


 /* Section Footer styling*/

 footer
 {
     display: block;
     max-height: 300px;
     height: 300px;
     padding: 0px 0px;
 }
 footer .column
 {
     width: 100%;
 }

 footer .one
 {
    margin:auto;
    max-height: 80px;
 }

 footer .one img
 {
     position: relative;
     left: 30vw;
     width: 150px;
     height: 60px;
     margin-top: 0px;
 }

 footer .two 
 {
     height: 80px;
 }

 footer .two h3
 {
    font-size:25px;
    color:#959564;
 }

 footer .two .address
 {
     margin-top: 5px;
 }

 footer .three 
 {
     text-align: center;
 }

 footer .three a
 {
    font-size: 18px;
 }

 footer .three .menu
 {
     margin-top: 15px;
 }
 footer .three li
 {
     margin-top: 8px;
 }

}