@font-face {
    font-family: Ananda;
    src: url(Police/Ananda\ Personal\ Use.ttf);
}

@font-face {
    font-family: Biko;
    src: url(Police/Biko_Regular.otf);
}

@font-face {
    font-family: Monsterrat-Regular;
    src: url(Police/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior:smooth;
}

.accueil
{
    color: white;   
    height: 140px;
}

.accueil .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition:  all 0.3s ease;
    background: #222;

}

.accueil .navbar.sticky
{
    background: white;
    color: tomato;
    transition:  all 0.3s ease;
}

.accueil .title a{

    font-size: 75px;
    font-weight: 600;
    font-family: Ananda;
}
.accueil .title{
    padding-left:50px ;
    padding-top: 15px;
}

.accueil .navbar a{
    color: white;
    
}
.accueil .navbar.sticky a{
    color: tomato;
    
}

.accueil .navbar li{
    display: inline-block;
    list-style: none;
}
.accueil .navbar li a
{
    font-size:30px;
    font-weight: 800;
    font-family: Biko;
    margin-left: 50px;
    transition: color 0.3s ease ;
}

.accueil .navbar li a:hover{
    color: crimson;
}
.accueil .navbar .menu{
    width: 1000px;
    position: static;
    margin-bottom: 50px;
}

.max-width{
    max-width: 1600px;
    padding: 80px;
    margin:  auto;
}

.cuisine
{
  height: 800px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #111;
  
}

.cuisine .title{
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    font-family: Biko;
    margin-bottom: 15px;
}

.cuisine .photoblock
{
    display: flex;
}

.cuisine .photoblock img {
   
    max-width: 100%;
    max-height: 100%;
    
}

.cuisine .photoblock .right
{
    height: 532px;
    width:35% ;
    margin-left: 15px;
   display: grid;
    align-items: center;
  
   
}

.cuisine .photoblock .right img
{
    padding-top: 15px;
    margin-bottom: 15px;
}

.cuisine .photoblock .left
{
    width: 65%;
}
footer
{
 
    background: rgb(2, 2, 2);
    padding: 20px 23px;
    color: #fff;
}

footer span {
    color:  white;
    font-size: 20px;
    font-weight: 500;
}

footer span a {
    color: crimson;
}

/* Ancien partie */
#map
{
    height: 500px ;
    width:  500px;
}
.menu
{
    margin-top: 50px;
}
.plat-content .Plat
{
    
    width: calc(33% - 50px) ;
    height: 100px;
    background: crimson;
    color: white;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
      transition: all 0.5s ease;  
}
.Plat:hover{
    font-size : 0px;
    background: #222;
   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.Title{
  
    font-size:  30px;
  
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;  
}

.Plat:hover > .Title{
    font-size: 0;
    display: none;
    cursor: pointer;
}

.text {
    display: none;
    transition: all 0.5s ease;  
}


.Plat:hover > .text{
    display: block;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}




