@font-face {
    font-family: Ananda;
    src: url(Police/Ananda\ Personal\ Use.ttf);
}

@font-face {
    font-family: Biko;
    src: url(Police/Biko_Regular.otf);
}

@font-face {
    font-family: Monsterrat-Regular;
    src: url(Police/Montserrat-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior:smooth;
}

.accueil
{
    background-image:url(Images/Burger.jpeg) ;
    background-repeat: no-repeat;  
    color: white;
    height: 800px;
   
}

.accueil .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.accueil .title a{

    font-size: 100px;
    font-weight: 600;
    font-family: Ananda;
}
.accueil .title{
    padding-left:50px ;
    padding-top: 15px;
}

.accueil .navbar a{
    color: white;
    
}
.accueil .navbar li{
    display: inline-block;
    list-style: none;
}
.accueil .navbar li a
{
    font-size:30px;
    font-weight: 800;
    font-family: Biko;
    margin-left: 50px;
    transition: color 0.3s ease ;
}

.accueil .navbar li a:hover{
    color: crimson;
}
.accueil .navbar .menu{
    width: 1000px;
    position: static;
    margin-bottom: 50px;
}


/* Infomation section*/

.info{

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin:  auto;
    display: flex;
    height: 600px;
    background: rgb(66, 66, 66);
    color: white;

}

.info  .one {
    width: 50%;
    height: 100%;
    background-color: gray;
   
    display: flex;
    
}

.info .two {
    width: 50%;
    height: 100%;
    background-color:black;
   
    display: flex;
}


.info .max-width{
    max-width: 1900px;
 
    margin:  auto;
    display: flex;
  
    width: 500px;
}
.info .max-width h3
{
    font-size: 70px;
    color: tomato;
    align-items: center;
}
.info .max-width .right{
    width: 100%;
    display: inline-block; 
    text-align: center;
    
}

.info .max-width .information  {
    font-size: 25px;
   margin-top: 20px;
}

.info .max-width .right .information .title
{
    font-weight: 650;
}

.info .max-width .right .information .content  {
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
}

.info .max-width .left{
    width: 100%;
    display: inline-block;
    text-align: center;
   
}


.info .max-width .left .content
{
    font-size: 20px;
}
.info .max-width .left .content .dayhour 
{
    width: 100%;
    display: flex;
    margin-top: 25px;
    text-align: center;
}
.info .max-width .left .content .dayhour .day {
    
    font-weight:600;
    width: 45%;
    margin-right: 25px;
   
}
.info .max-width .left .content .dayhour .hour {

    width: 45%;
    margin-left: 25px;
}




footer
{
 
    background: rgb(255, 255, 255);
    padding: 20px 23px;
    color: rgb(0, 0, 0);
    display: flex;  
    align-items: center;
}

footer .one
{
    width: 33%;
    font-size:60px ;
    font-weight: 800;
    font-family: Ananda;
    margin-left: 70px;
}
footer .two
{
    width: 33%;
    text-align: center;
    font-family: Biko;  
}

footer .two h3{
    font-size: 35px;
    font-weight: 600;
}


footer .three
{
    width: 33%;
    text-align: right;
    margin-right: 80px;
    
}

footer .three .menu{
    margin-top: 0px;
}

footer .three li
{
    list-style: none;
    margin-top: 5px;
}

footer .three a {
    color: rgb(0, 0, 0);
    font-family: Biko;
    font-size: 25px;
}

footer .three a:hover {
    color: orangered;
    font-family: Biko;
    font-size:27px ;
}


/* Contact styling code */


.max-width{
    max-width: 1300px;
    margin-bottom: 10px;
    display: flex;
}
.presentation{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.presentation .right {
    width: 45%;
    margin-left: 240px;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 0px;
  
}
.presentation  .left{
    width: 45%;
    display: inline-block;
    /* margin-left: 0px; */
    padding-left: 250px;
}

.presentation .right .title
{
    font-size : 45px;
    font-weight:800px ;
    color: rgb(241, 135, 58);
    padding-bottom: 30px;
}
 
.presentation .left .content{
    
    display: inline-block;
    text-align: justify;
}


.presentation .right .titreContact{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
   
}
.presentation .left p{
    text-align: justify;
}
.presentation  .left .icon{
    margin: 10px 0;
}

.presentation .right .row
{
    display: flex;
    height: 65px;
    align-items: center;
}
.presentation .right .row .info{
    margin-left: 30px;
}
.presentation .right .row i{
    font-size: 25px;
    color: crimson;
}

.presentation .right .info .head{
    font-weight: 500;

}
.presentation .right .info .sub-title{
    color: #333;
}


.presentation .right .field,
.presentation .right form .fields .field
{
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
}

.presentation .right form .textarea{
    height: 150px;

}

.presentation .right form .name{
 margin-right: 10px;
 max-height: 45px; 
}

.presentation .right form .email{
    margin-left: 10px;   
}
   

.presentation .right form .field input,
.presentation .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border : 1px solid lightgray;
    border-radius: 6px;
    outline:none;
    padding: 0 15px ;
    font-size: 17px;
    font-family:'Roboto',sans-serif ;
}

.presentation .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.presentation .right form .button{
    height: 47px;
    width: 170px;
    margin-left: 35%;
}

.presentation .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 6px; 
    cursor: pointer;
    transition: all 0.3s ease;
}
.presentation .right form .button button:hover
{    color:crimson;
    background: none;
}


/* footer section styling */
.btn{

    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: auto;
    transition:  all 0.3s ease;
}

.btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
    transition:  all 0.3s ease;
}.btn.end{
    
    bottom: 30px;
    right: 250px;
    opacity: 1;
    pointer-events: auto;
    transition:  all 0.3s ease;
}

#map
{
    height: 500px ;
    width:  900px;
}