@font-face {
    font-family: Ananda;
    src: url(Police/Ananda\ Personal\ Use.ttf);
}

@font-face {
    font-family: Biko;
    src: url(Police/Biko_Regular.otf);
}
@font-face {
    font-family: Biko-Bold;
    src: url(Police/Biko_Bold.otf);
}

@font-face {
    font-family: Monsterrat-Bold;
    src: url(Police/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Monsterrat-Regular;
    src: url(Police/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Monsterrat-Light;
    src: url(Police/Montserrat-Light.ttf);
}
@font-face {
    font-family: Monsterrat-LightItalic;
    src: url(Police/Montserrat-LightItalic.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior:smooth;
}

.accueil
{
    background-image:url(Images/Retouchées/tapas-cookies-nanek.jpg) ;
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
    height: 950px
   
}

.accueil .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 150px;
    z-index: 999;
    transition:  all 0.3s ease;


}
.accueil .navbar .menu-btn
{
    opacity: 0%;
}

.accueil .navbar.sticky
{
    background: black;
    color: white; 
    transition:  all 0.3s ease;
}


.accueil .title{
   margin: auto;
    
}

.accueil .title img{
    width: 250px;
    height: 100px;
}

.accueil .navbar a{
    color: white;
    
}
.accueil .navbar.sticky a{
    color: white;
    
}

.accueil .navbar li{
    display: inline-block;
    list-style: none;
}
.accueil .navbar li a
{
    font-size:25px;
    font-weight: 800;
    font-family: Biko;
    margin-left: 100px;
    transition: color 0.3s ease ;
}

.accueil .navbar li a:hover{
    color: crimson;
}
.accueil .navbar .menu{
    width: 1000px;
    position: static;
    margin-left: auto;
  
}

.presentation{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 3000px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.presentation .max-width{
    max-width: 1900px ;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items:center;
}

.presentation .max-width .cube
{
    display: flex;
    height: 1030px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



.presentation .max-width .Topright
{
    height: 50%;
    width: 50%;
    align-items: right;
    display: flex;
   
}
.presentation .Topright img{
    height: 507px ;
    width:  940px;
    object-fit: cover;
    border-radius: 0px;
    margin-top: 0px;
    margin-right: 0px;
  
}
.presentation .max-width .Topleft{
    height: 50%;
    width: 50%;
    border-right: 150px;
    margin-top: 0px;
    display: inline-block;
    text-align: left;

}



.presentation .max-width .Botright{
    height: 50%;
    width: 50%;
    margin-top: 0px;
    margin-right: 0px;
    border-right: 50px;
    display: inline-block;
    text-align: right;
}
.presentation .max-width .Botleft
{
    height: 50%;
    width: 50%;
    align-items: right;
   
}

.presentation .Botleft{

    margin-top: 0px;
    margin-right: 0px;
}
.presentation .Botleft img{
    height: 507px ;
    width:  940px;
    object-fit: cover;
    border-radius: 0px;

  
}

.presentation .Topleft .titleFormule
{
    font-size : 45px;
    font-weight:800px ;
    margin-top: 50px;
    padding-left: 50px;
    color: #959564;
    font-family: Ananda;
    display: flex;
}
 
.presentation .Topleft .titleFormule .name
{
    color: black;
    font-family:  Biko-Bold;;
}

.presentation .Topleft .titleFormule .right 
{
    font-family : Biko;
    margin-top: 15px;
    margin-left: 160px;
}

.presentation .Topleft .contentFormule{
    
    margin-top: 25px;
    margin-right: 150px;
    padding-left: 50px;  
    text-align: left;
}



.presentation .Topleft .contentFormule .formule {
    display: flex;
    width: 100%;
    list-style: none;
    font-family:  Monsterrat-Light;
}

.presentation .Topleft .contentFormule .formule .left
{
    width: 60%;
}

.presentation .Topleft .contentFormule .formule li
{
    font-size: 18px;
    margin-top: 7px;
}

.presentation .Topleft .contentFormule .sidenote
{
    margin-top: 25px;
    font-size: 18px;
    font-family: Monsterrat-LightItalic;
    width: 95%;
}


.presentation .Botright .titleUnite
{
    font-size : 45px;
    margin-top: 20px;
    padding-right: 50px;
    font-weight:800px ;
    color: #959564;
    font-family: Ananda;
}
.presentation .Botright .titleUnite .name
{   
    color: black;
    font-family: Biko-Bold;
}

.presentation .Botright .contentUnite{
    margin-top: 15px;
    margin-left: 150px;
    padding-right: 15px;
    
}

.presentation .Botright .contentUnite .unite
{
    display: flex;
    list-style: none;
    font-family:Monsterrat-Light ;
    font-size: 18px;
   
}
.presentation .Botright .contentUnite .unite li
{
    margin-top: 7px;
}

.presentation .Botright .contentUnite .unite .price
{
    text-align: left;
    width: 35%;
}

.presentation .Botright .contentUnite .unite .plat
{
    display: inline;
    margin-left: 30px;
    width: 65%;
}
.presentation .Botright .contentUnite .unite .plat .piece
{
    display: inline;
    margin-left: 3px;
    font-family: Monsterrat-LightItalic;
}

.presentation .max-width .boisson 
{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1600px;
}

.presentation .max-width  .boisson .biere
{
    display: flex;
    margin-top: 30px;
}


.presentation .max-width .boisson .biere .liste
{
    width: 45%;
}

.presentation .max-width .boisson .biere .imageBiere
{
    width: 45%;
}
.presentation .max-width .boisson .biere .imageBiere img
{
    width: 700px;
    height: 500px;
}
.presentation .max-width .boisson  .title 
{
    font-family: Biko-Bold;
    font-size: 50px;
    margin-bottom: 15px;
}

.presentation .max-width .boisson .article
{
    margin-bottom: 35px;
}

.presentation .max-width .boisson  .article .head 
{
    font-family:  Monsterrat-Regular;
    font-weight: 500;
    font-size: 18px;
    display: flex ;
}

.presentation .max-width .boisson .vin .blanc
{
    margin-top: 25px;
}

.presentation .max-width .boisson  .article .head .price
{
    margin-left: 10px;
    color:#959564;
}

.presentation .max-width .boisson  .article .head .line
{
    border: 0px;
    margin-left: 15px;
    margin-top:14px ;
    border-top: 3px dotted gray;
    border-style: dotted;
    width: 17%;
}

.presentation .max-width .boisson  .article .head .degre
{
    font-family: Monsterrat-LightItalic;
    display: inline;
    width: 35%;
}

.presentation .max-width .boisson  .article .description 
{
    font-family: Monsterrat-LightItalic;
    font-size: 15px;
}

.presentation .max-width .boisson .autres
{
    align-items: center;
    margin-left: 60px;
}

.presentation .max-width .boisson .autres .soft
{
    margin-top: 25px;
}

.presentation .max-width .boisson .autres .vin .title
{
    margin-bottom: 10px;
}

.presentation .max-width .boisson .autres .vin .article
{
    margin-top: 0px;
    margin-bottom: 25px;
}
.presentation .max-width .boisson .autres .soft .article
{   
    margin-bottom: 25px ;
}
.presentation .max-width .boisson .autres .soft .others .article
{   
    margin-bottom: 5px ;
}
.presentation .max-width .boisson .autres .soft 
{  
    display: flex;
}

.presentation .max-width .boisson .autres .soft .command
{  
    width: 45%;
}


.presentation .max-width .boisson .autres .soft .illustration
{  
    width: 45%;
    margin-left: 30px;
}

.presentation .max-width .boisson .autres .soft .illustration img
{  
  width: 800px;
  height: 500px;
}

/* Infomation section*/

.info{

    flex-wrap: wrap;
    
    justify-content: space-between;
    display: flex;

    color: white;
    height: 600px;
}

.info .one {
    width: 50%;
    height: initial;
    background-color: gray;
    display: flex;
    
}

.info .two {
    width: 50%;
    height: 100%;
    background-color:black;
   
    display: flex;
}


.info .max-width{
    max-width: 1900px;
 
    margin:  auto;
    display: flex;
  
    width: 800px;
}
.info .max-width h3
{
    font-size: 70px;
    color: tomato;
    align-items: center;
}
.info .max-width .right{
    width: 100%;
    display: inline-block; 
    text-align: center;
    
}

.info .max-width .information  {
    font-size: 25px;
   margin-top: 20px;
}

.info .max-width .right .information .title
{
    font-weight: 650;
   
}

.info .max-width .right .information .content  {
    margin-top: 15px;
    font-size: 20px;
    font-weight: lighter;
}

.info .max-width .left{
    width: 100%;
    display: inline-block;
    text-align: center;
   
}


.info .max-width .left .content
{
    font-size: 25px;
}
.info .max-width .left .content .dayhour 
{
    width: 100%;
    display: flex;
    margin-top: 25px;
    text-align: center;
}
.info .max-width .left .content .dayhour .day {
    
    font-weight:600;
    width: 45%;
    margin-right: 25px;
   
}
.info .max-width .left .content .dayhour .hour {

    width: 45%;
    margin-left: 25px;
}


.max-width{
    max-width: 1300px;
    padding: 8px;
    margin:  auto;
    display: flex;
}

/* Contact Partie */
.contact{
    align-items: center;
    background-color: #222;
    color: white;
    height: 600px;
}

.contact .max-width
{
    display: block;
}

.contact .max-width .title
{
    text-align: center;
   
    font-size : 60px;
    font-weight:800;
    color: rgb(241, 135, 58);
    
}
.contact .max-width .content
{
    background-color: rgb(27, 27, 27);
    color: white;
    
}

.contact .max-width ul
{   
    text-align: center;
    height: 400px;
    background-color: #222;
}

.contact .max-width li{
    margin-top: 35px;
}

.contact .max-width .content a{
    color: white;
}

.contact .max-width .content li a{
    font-size: 25px;
    font-weight: 500px;
}


footer
{
 
    background: black;
    padding: 20px 23px;
    color: white;
    display: flex;  
    align-items: center;
    max-height: 150px;
    
}

footer .one
{
    width: 33%;
    font-size:60px ;
    font-weight: 800;
    font-family: Ananda;
    margin-left: 70px;
  
}
footer .one img
{
    margin-top: 30px;
    width: 175px;
    height: 75px;
}

footer .two
{
    width: 33%;
    text-align: center;
    font-family: Biko;  
}

footer .two h3{
    font-size: 35px;
    font-weight: 600;
}


footer .three
{
    width: 33%;
    text-align: right;
    margin-right: 80px;
    
}

footer .three .menu{
    margin-top: 0px;
}

footer .three li
{
    list-style: none;
    margin-top: 10px;
}

footer .three a {
    color: white;
    font-family: Biko;
    font-size: 20px;
}

footer .three a:hover {
    color:  crimson;;
    font-family: Biko;
    font-size:27px ;
}



@media (max-width : 600px) {

    /* Section Navbar Styling */

    .html {
        width: 100vw;
    }
    .accueil 
    {
        background-position:center;
        height: 80vh;
        width: 100vw;

    }

    .accueil .title
    {
        padding-left: 50px;
        padding-top: 20px;
    }

    .accueil .title img
    {
        width: 150px ;
        height: 55px;
    }
    .accueil .navbar
    {
        width: 100vw;
    }

    .accueil .navbar .menu
    {
        position: fixed;
        left : -100%; 
        width: 100vw; 
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
     
    .accueil .navbar .menu.active
    {
        background-color: rgb(0, 0, 0);
        left: 0%;
        height:100vh;
        width: 100vw;
        top: 0;
        padding-top: 160px;
        position:  fixed;
        z-index: 998;
       
    }

    .accueil .menu li
    {
        display: block;
        text-align: center;
        margin-top: 50px;
     
    }
    .accueil .menu li a
    {
        font-size: 35px;
        margin-left: 0px;
    }

    .accueil .navbar .menu-btn
    {
        position: relative;
        width: 40px;
        height: 40px;
       
        margin-top: 10px;
        margin-right: 45px;
        object-fit: cover;
        opacity: 100%;
    }
    
    .accueil .navbar .menu-btn img
    {
      width: 40px;
      height: 40px;
    }
    
    .accueil .navbar .menu-btn .exit
    {
        opacity: 0;
        z-index: 999;
        
    }
    .accueil .navbar .menu-btn .exit.active
    {
        position: fixed;
        opacity: 100%;
        z-index: 999;
        top:75px;
        margin-left: 0px;
    }
    .accueil .navbar .menu-btn .exit.active img
    {
        width: 50px;
        height: 50px;
    }

    .presentation 
    {
        width: 100vw;
        display: block;
        height: auto;
    }

    .presentation .max-width .cube
    {
        display: flex;
        height: auto;
    }

    .presentation .max-width .cube img
    {
        height: auto;
        width: 95vw;
        margin-left: auto;
    }

    .presentation .max-width .cube .Topright
    {
        display: block;
        width: 100vw;
        height: auto;
        order: 1;
    }

    .presentation .max-width .cube .Topleft
    {
        display: block;
        width: 100vw;
        height: auto;
        order:2;
    }

    .presentation .max-width .cube .Topleft .titleFormule
    {
        display: block;
        font-size: 35px;
        padding-left: 15px;
        margin-top: 20px;
    }

    .presentation .max-width .cube .Topleft .titleFormule .left
    {
        margin-left: 25px;
    }
    .presentation .max-width .cube .Topleft .titleFormule .right
    {
        width: 80vw;
        height: 100px;
        margin-top: 15px;
        text-align: center;
        padding-top: 8px;
        margin-left: 0px;
        border: 3px solid #959564;
        border-radius: 20px;
    }

    .presentation .max-width .cube .Topleft .contentFormule
    {
        display: block;
        margin-right: 0;
        padding-left: 0px;
        margin-left: 8px;
        width: 90vw;
    }
    .presentation .max-width .cube .Topleft .contentFormule .formule
    {
        display: block;
        text-align: center;
    }
    .presentation .max-width .cube .Topleft .contentFormule .formule .left
    {
      width: 100%;
    }

    .presentation .max-width .cube .Topleft .contentFormule .sidenote
    {
        text-align: center;
    }

    .presentation .max-width .cube .Botleft
    {
        display: block;
        order: 3;
        width: 100vw;
        height: auto;
        margin-top: 20px;
    }

    .presentation .max-width .cube .Botright
    {
        display: block;
        width: 100vw;
        height: auto;
        order: 4;
    }

    .presentation .max-width .cube .Botright .titleUnite
    {   font-size: 35px;
        width: 100vw;
        padding-right: 0px;
        padding-left:90px ;
        text-align: left;
    }
    .presentation .max-width .cube .Botright .contentUnite
    {
        margin-left: 0px;
        margin-right: 5px;
    }

    .presentation .max-width .cube .Botright .contentUnite .unite
    {
        font-size: 15px;
    }

    .presentation .max-width .cube .Botright .contentUnite .unite .price
    {width: 10%;
        order: 2;
        text-align: right;
    }

    .presentation .max-width .cube .Botright .contentUnite .unite .plat 
    {
        width: 100%;
        text-align: left;
        margin-left: 0px;
    }

    .presentation .max-width .boisson 
    {
        display: block;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .presentation .max-width .boisson .biere
    {
        display: block;
        width: 100vw;
    }

    .presentation .max-width .boisson .biere .imageBiere img
    {
        height: auto;
        width: 95vw;
        margin-right: 17px;
    }

    .presentation .max-width .boisson .autres
    {
        margin-left: 0px;
        width: 100vw;
    } 

    .presentation .max-width .boisson .title
    {
        margin-left: 25px;
        margin-bottom: 10px;
    }

    .presentation .max-width .boisson .article .head
    {
        width: 90vw;
        font-family:  Monsterrat-Bold;
        margin-bottom: 10px;
    }
    .presentation .max-width .boisson .article .head .line
    {
        margin-left: 10px;
        width: 13%;
    }

    .presentation .max-width .boisson .article
    {
        margin-left: 10px;
    }
    .presentation .max-width .boisson .description
    {
        text-align: justify;
        width: 90vw;
    }

    .presentation .max-width .boisson .autres .soft
    {
        display: block;
    }

    .presentation .max-width .boisson .autres .soft .illustration
    {
        display: block;
        width: 90vw;
        margin-left: 0px;
        margin-top: 5px;
    }

    .presentation .max-width .boisson .autres .soft .illustration img {
        height: auto;
        width: 95vw;
        margin-right: 17px;
    }
    .presentation .max-width .boisson .autres .soft .command
    {
       
        display: block;
        width: 90vw;
    }    
    footer
    {
        display: block;
        max-height: 300px;
        height: 300px;
        padding: 0px 0px;
    }
    footer .column
    {
        width: 100%;
    }

    footer .one
    {
       margin:auto;
       max-height: 80px;
    }

    footer .one img
    {
        position: relative;
        left: 30vw;
        width: 150px;
        height: 60px;
        margin-top: 0px;
    }

    footer .two 
    {
        height: 80px;
    }

    footer .two h3
    {
       font-size:25px;
       color:#959564;
    }

    footer .two .address
    {
        margin-top: 5px;
    }

    footer .three 
    {
        text-align: center;
    }

    footer .three a
    {
       font-size: 18px;
    }

    footer .three .menu
    {
        margin-top: 15px;
    }
    footer .three li
    {
        margin-top: 8px;
    }
}

